.modal-body-data-client {
}

.modal-body-data-client-form {
    justify-content: center;
    align-items: center;
    border: solid 1px #dee2e6;
    border-radius: 0.2em;
    padding: 1rem;
}

.modal-body-data-client-email-label{
}

.modal-body-data-client-email-input{
}