.planos-alimentares {

}

.planos-alimentares-container {

}

.planos-alimentares-container-title {
	max-height: 80px !important;
}

.card-img {
	height: 442px !important;
	object-fit: fill !important;
}